.EQFilterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 14px;
}
.FilterLabel {
  font-size: 14px;
  color: rgb(173, 168, 168);
  margin-right: 20px;
}
.FilterInput {
  border: 1px solid rgb(214, 211, 211);
  border-radius: 24px;
  width: 200px;
  height: 40px;
  padding: 2px 10px 2px 20px;
  margin-right: 20px;
  outline: none;
}
